@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-title {
  font-family: var(--font-cormorant);
}
.font-serif {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  line-height: 1.05;
  letter-spacing: -0.02em;
}
